(frontend/public/pos-atm.svg is an image file, which should not be added to .gitignore according to rule 8)
(frontend/index.html is a source/config file, which should not be added to .gitignore according to rule 7)

(empty)